<div class="row">
    <div class="twelve columns">
        <h3>Data for Ben Shyong</h3>
        <div class="panel radius">
            Energy expended and cumulative weight lifted.
        </div>
    </div>
</div>
<div class="row panel radius">
    <div class="six columns">
        Total weight: X
    </div>
    <div class="six columns">
        Total energy: X
    </div>
</div>

<div class="row">
    <table class="twelve">
  <thead>
    <tr>
      <th>Table Header</th>
      <th>Table Header</th>
      <th>Table Header</th>
      <th>Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
    <tr>
      <td>Content</td>
      <td>This is longer content</td>
      <td>Content</td>
      <td>Content</td>
    </tr>
  </tbody>
</table>
</div>